.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.flexbox-item {
  margin: 10px;
}

.flexbox-item-1 {
  display: grid;
  grid-template-columns: 25% auto;
  grid-template-rows: 30px 50px;
  grid-template-areas:
    "add-btn count"
    "add-btn searchbar";
}

.add-btn {
  grid-area: add-btn;
  height: 40px;
  width: 150px;
}

.count {
  grid-area: count;
  margin-left: 102px;
}
.searchbar {
  grid-area: searchbar;
  align-self: center;
}

.flexbox-item-2 {
  flex-shrink: 0;
  align-self: flex-start;
  justify-self: flex-start;
  width: 530px;
}

.flexbox-item-4 {
  align-self: center;
  justify-self: flex-start;
}
